<p>Admin Render - Dashboard</p>

<br>
<br>
<br>

<span>Basic Buttons - mat-button</span> <br>
<button mat-button style="margin-right: 5px;">Basic</button>
<button mat-button color="default" style="margin-right: 5px;">Default</button>
<button mat-button color="light" style="margin-right: 5px;">Light</button>
<button mat-button color="dark" style="margin-right: 5px;">Dark</button>
<button mat-button color="primary" style="margin-right: 5px;">Primary</button>
<button mat-button color="message" style="margin-right: 5px;">Message</button>
<button mat-button color="notify" style="margin-right: 5px;">Notify</button>
<button mat-button color="success" style="margin-right: 5px;">Success</button>
<button mat-button color="warning" style="margin-right: 5px;">Warning</button>
<button mat-button color="error" style="margin-right: 5px;">Error</button>
<button mat-button color="error-soft" style="margin-right: 5px;">Error-Soft</button>
<button mat-button color="dismiss" style="margin-right: 5px;">Dismiss</button>
<button mat-button color="tertiary" style="margin-right: 5px;">Tertiary</button>
<button mat-button color="yellow" style="margin-right: 5px;">Yellow</button>

<br>
<br>

<span>Raised Buttons - mat-raised-button</span> <br>
<button mat-raised-button style="margin-right: 5px;">Raised</button>
<button mat-raised-button color="default" style="margin-right: 5px;">Default</button>
<button mat-raised-button color="light" style="margin-right: 5px;">Light</button>
<button mat-raised-button color="dark" style="margin-right: 5px;">Dark</button>
<button mat-raised-button color="primary" style="margin-right: 5px;">Primary</button>
<button mat-raised-button color="message" style="margin-right: 5px;">Message</button>
<button mat-raised-button color="notify" style="margin-right: 5px;">Notify</button>
<button mat-raised-button color="success" style="margin-right: 5px;">Success</button>
<button mat-raised-button color="warning" style="margin-right: 5px;">Warning</button>
<button mat-raised-button color="error" style="margin-right: 5px;">Error</button>
<button mat-raised-button color="error-soft" style="margin-right: 5px;">Error-Soft</button>
<button mat-raised-button color="dismiss" style="margin-right: 5px;">Dismiss</button>
<button mat-raised-button color="tertiary" style="margin-right: 5px; margin-top: 10px;">Tertiary</button>
<button mat-raised-button color="yellow" style="margin-right: 5px; margin-top: 10px;">Yellow</button>

<br>
<br>

<span>Stroked Buttons - mat-stroked-button</span> <br>
<button mat-stroked-button style="margin-right: 5px;">Stroked</button>
<button mat-stroked-button color="default" style="margin-right: 5px;">Default</button>
<button mat-stroked-button color="light" style="margin-right: 5px;">Light</button>
<button mat-stroked-button color="dark" style="margin-right: 5px;">Dark</button>
<button mat-stroked-button color="primary" style="margin-right: 5px;">Primary</button>
<button mat-stroked-button color="message" style="margin-right: 5px;">Message</button>
<button mat-stroked-button color="notify" style="margin-right: 5px;">Notify</button>
<button mat-stroked-button color="success" style="margin-right: 5px;">Success</button>
<button mat-stroked-button color="warning" style="margin-right: 5px;">Warning</button>
<button mat-stroked-button color="error" style="margin-right: 5px;">Error</button>
<button mat-stroked-button color="error-soft" style="margin-right: 5px;">Error-Soft</button>
<button mat-stroked-button color="dismiss" style="margin-right: 5px;">Dismiss</button>
<button mat-stroked-button color="tertiary" style="margin-right: 5px; margin-top: 10px;">Tertiary</button>
<button mat-stroked-button color="yellow" style="margin-right: 5px; margin-top: 10px;">Yellow</button>

<br>
<br>

<span>Flat Buttons - mat-flat-button</span> <br>
<button mat-flat-button style="margin-right: 5px;">Flat</button>
<button mat-flat-button color="default" style="margin-right: 5px;">Default</button>
<button mat-flat-button color="light" style="margin-right: 5px;">Light</button>
<button mat-flat-button color="dark" style="margin-right: 5px;">Dark</button>
<button mat-flat-button color="primary" style="margin-right: 5px;">Primary</button>
<button mat-flat-button color="message" style="margin-right: 5px;">Message</button>
<button mat-flat-button color="notify" style="margin-right: 5px;">Notify</button>
<button mat-flat-button color="success" style="margin-right: 5px;">Success</button>
<button mat-flat-button color="warning" style="margin-right: 5px;">Warning</button>
<button mat-flat-button color="error" style="margin-right: 5px;">Error</button>
<button mat-flat-button color="error-soft" style="margin-right: 5px;">Error-Soft</button>
<button mat-flat-button color="dismiss" style="margin-right: 5px;">Dismiss</button>
<button mat-flat-button color="tertiary" style="margin-right: 5px; margin-top: 10px;">Tertiary</button>
<button mat-flat-button color="yellow" style="margin-right: 5px; margin-top: 10px;">Yellow</button>


<br>
<br>
<br>



<span>FAB</span> <br>
<button mat-fab style="margin-right: 5px;"><mat-icon>delete</mat-icon></button>
<button mat-fab color="default" style="margin-right: 5px;"><mat-icon>delete</mat-icon></button>
<button mat-fab color="light" style="margin-right: 5px;"><mat-icon>delete</mat-icon></button>
<button mat-fab color="dark" style="margin-right: 5px;"><mat-icon>delete</mat-icon></button>
<button mat-fab color="primary" style="margin-right: 5px;"><mat-icon>delete</mat-icon></button>
<button mat-fab color="message" style="margin-right: 5px;"><mat-icon>delete</mat-icon></button>
<button mat-fab color="notify" style="margin-right: 5px;"><mat-icon>delete</mat-icon></button>
<button mat-fab color="success" style="margin-right: 5px;"><mat-icon>delete</mat-icon></button>
<button mat-fab color="warning" style="margin-right: 5px;"><mat-icon>delete</mat-icon></button>
<button mat-fab color="error" style="margin-right: 5px;"><mat-icon>delete</mat-icon></button>
<button mat-fab color="error-soft" style="margin-right: 5px;"><mat-icon>delete</mat-icon></button>
<button mat-fab color="dismiss" style="margin-right: 5px;"><mat-icon>delete</mat-icon></button>
<button mat-fab color="tertiary" style="margin-right: 5px;"><mat-icon>delete</mat-icon></button>
<button mat-fab color="yellow" style="margin-right: 5px;"><mat-icon>delete</mat-icon></button>

<br>
<br>

<span>Mini FAB</span> <br>
<button mat-mini-fab style="margin-right: 5px;"><mat-icon>menu</mat-icon></button>
<button mat-mini-fab color="default" style="margin-right: 5px;"><mat-icon>menu</mat-icon></button>
<button mat-mini-fab color="light" style="margin-right: 5px;"><mat-icon>menu</mat-icon></button>
<button mat-mini-fab color="dark" style="margin-right: 5px;"><mat-icon>menu</mat-icon></button>
<button mat-mini-fab color="primary" style="margin-right: 5px;"><mat-icon>menu</mat-icon></button>
<button mat-mini-fab color="message" style="margin-right: 5px;"><mat-icon>menu</mat-icon></button>
<button mat-mini-fab color="notify" style="margin-right: 5px;"><mat-icon>menu</mat-icon></button>
<button mat-mini-fab color="success" style="margin-right: 5px;"><mat-icon>menu</mat-icon></button>
<button mat-mini-fab color="warning" style="margin-right: 5px;"><mat-icon>menu</mat-icon></button>
<button mat-mini-fab color="error" style="margin-right: 5px;"><mat-icon>menu</mat-icon></button>
<button mat-mini-fab color="error-soft" style="margin-right: 5px;"><mat-icon>menu</mat-icon></button>
<button mat-mini-fab color="dismiss" style="margin-right: 5px;"><mat-icon>menu</mat-icon></button>
<button mat-mini-fab color="tertiary" style="margin-right: 5px;"><mat-icon>menu</mat-icon></button>
<button mat-mini-fab color="yellow" style="margin-right: 5px;"><mat-icon>menu</mat-icon></button>

<br>
<br>

<span>Extended Fab</span> <br>
<button mat-fab extended style="margin-right: 5px;"><mat-icon>favorite</mat-icon>Basic</button>
<button mat-fab extended color="default" style="margin-right: 5px;"><mat-icon>favorite</mat-icon>Basic</button>
<button mat-fab extended color="light" style="margin-right: 5px;"><mat-icon>favorite</mat-icon>Basic</button>
<button mat-fab extended color="dark" style="margin-right: 5px;"><mat-icon>favorite</mat-icon>Basic</button>
<button mat-fab extended color="primary" style="margin-right: 5px;"><mat-icon>favorite</mat-icon>Basic</button>
<button mat-fab extended color="message" style="margin-right: 5px;"><mat-icon>favorite</mat-icon>Basic</button>
<button mat-fab extended color="notify" style="margin-right: 5px;"><mat-icon>favorite</mat-icon>Basic</button>
<button mat-fab extended color="success" style="margin-right: 5px;"><mat-icon>favorite</mat-icon>Basic</button>
<button mat-fab extended color="warning" style="margin-right: 5px;"><mat-icon>favorite</mat-icon>Basic</button>
<button mat-fab extended color="error" style="margin-right: 5px;"><mat-icon>favorite</mat-icon>Basic</button>
<button mat-fab extended color="error-soft" style="margin-right: 5px;"><mat-icon>favorite</mat-icon>Basic</button>
<button mat-fab extended color="dismiss"
    style="margin-right: 5px; margin-top: 10px;"><mat-icon>favorite</mat-icon>Basic</button>
<button mat-fab extended color="tertiary"
    style="margin-right: 5px; margin-top: 10px;"><mat-icon>favorite</mat-icon>Basic</button>
<button mat-fab extended color="yellow"
    style="margin-right: 5px; margin-top: 10px;"><mat-icon>favorite</mat-icon>Basic</button>

<br>
<br>
<br>
<br>
<br>
<br>
<br>