.table-container.user-table {
    /////////////////////////////////////////////////
    ////// PAGE BASED TD-ROW WIDTH ADJUSTMENTS //////
    /////////////////////////////////////////////////
    .select {
        width: 40px;
    }

    .start-column {
        width: 40px;
    }

    .user {
        width: 220px;
    }

    // .firstName {
    //     width: 280px;
    // }

    // .lastName {
    //     width: 280px;
    // }

    // .userName {
    //     width: 200px;
    // }

    .email {
        width: 200px;
    }

    .phoneNumber {
        width: 250px;
    }

    .twoFactorEnabled {
        width: 350px !important;
        span {
            padding-left: 50px;
            mat-icon.enabled {
                color: var(--success-bg);
                text-align: center;
                vertical-align: middle;
            }
            mat-icon.disabled {
                color: var(--error-bg);
                vertical-align: middle;
            }
        }
    }

    .set-button {
        padding-right: 5px !important;
    }
}
