.table-container.user-table {
    /////////////////////////////////////////////////
    ////// PAGE BASED TD-ROW WIDTH ADJUSTMENTS //////
    /////////////////////////////////////////////////

    th,
    td {
        font-size: 13px;
    }
    .select {
        width: 40px;
    }

    .start-column {
        width: 40px;
    }

    .user {
        width: 180px;
    }

    // .firstName {
    //     width: 280px;
    // }

    // .lastName {
    //     width: 280px;
    // }

    .userName {
        width: 180px;
    }

    .email {
        width: 200px;
    }

    .phoneNumber {
        width: 270px;
    }

    .twoFactorEnabled {
        width: 180px !important;
        //text-align: center;
        padding-left: 30px !important;
        span {
            text-align: center;
            vertical-align: middle;
            mat-icon.enabled {
                color: var(--success-bg);
                text-align: center;
                vertical-align: middle;
            }
            mat-icon.disabled {
                color: var(--error-bg);
                vertical-align: middle;
            }
        }
    }

    .set-button {
        padding-right: 5px !important;
    }
}
