@use "pagination-light.scss";
@use "pagination-dark.scss";

.page-link:focus,
.page-link:active {
    outline: none !important;
    box-shadow: none !important;
}

.page-item.last .page-link {
    padding-bottom: 4.5px;
    min-width: 90px;
}
