@use "mat-table-light.scss";
@use "mat-table-dark.scss";

@use "order-table/order-mat-table-default.scss";
@use "product-table/product-mat-table-default.scss";
@use "user-table/user-mat-table-default.scss";

@use "@angular/material" as mat;

/////////////////////////////////////////////////
/////// OUTMOST TABLE SECTION ADJUSTMENTS ///////
/////////////////////////////////////////////////
.table-container {
    display: flex;
    flex-direction: column;
    height: auto;
    // XSmall
    @media (max-width: 599.98px) {
        height: 81vh;
    }
    // Small
    @media (min-width: 600px) and (max-width: 959.98px) {
        height: 81vh;
    }
    // Medium
    @media (min-width: 960px) and (max-width: 1279.98px) {
        height: 81vh;
    }
    // Large
    @media (min-width: 1280px) and (max-width: 1919.98px) {
        height: 81vh;
    }
    // XLarge
    @media (min-width: 1920px) {
        height: 81.3vh;
    }
    padding: 16px;
    border-radius: 0.375rem;
    //box-shadow: var(--shadow-table-dynamic);
}

/////////////////////////////////////////////////
/////////// TABLE HEADER ADJUSTMENTS ////////////
/////////////////////////////////////////////////
.table-header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 30px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    .delete-multiple-item {
        padding-left: 2px;
    }
}

/////////////////////////////////////////////////
/////////// FILTER INPUT ADJUSTMENTS ////////////
/////////////////////////////////////////////////
.filter-field {
    flex: 1 !important;
    min-width: 250px !important;
    mat-form-field {
        width: 100%;
        .mdc-text-field--outlined {
            opacity: 0.9;
            border-radius: 0.375rem;
        }
        .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused {
            .mdc-floating-label--float-above {
                font-size: 14px !important;
                opacity: 0.8 !important;
                padding-top: 15px;
            }
            input {
                padding-top: 8px;
            }
        }
        .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) {
            .mdc-floating-label--float-above {
                font-size: 14px;
                opacity: 0.5;
                padding-top: 18px;
            }
            input {
                padding-top: 8px;
            }
        }
        .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch {
            border-top-style: solid;
        }
    }
    button {
        margin-right: 5px;
    }
}

/////////////////////////////////////////////////
//////// FORM-INPUT ADJUSTMENTS (FILTER) ////////
/////////////////////////////////////////////////
.mat-mdc-form-field {
    font-size: 14px;
}

/////////////////////////////////////////////////
///////// SCROLLABLE TABLE ROW SECTION //////////
/////////////////////////////////////////////////
.table-scroll-wrapper {
    overflow-y: auto;
    flex: 1; /* En önemli kısım: kalan tüm alanı bu alsın */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    margin-bottom: 13px !important;

    /* Scrollbar Styling (Webkit) */
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        //border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
        transition: background-color 0.5s;
    }

    /* Firefox için (opsiyonel) */
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    /* Firefox için (opsiyonel) */
    &:hover {
        transition: scrollbar-color 0.5s;
    }
}

/////////////////////////////////////////////////
////////// TH, TD - COLUMN ADJUSTMENTS //////////
/////////////////////////////////////////////////
th,
td {
    font-size: 14px;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    //max-width: 300px;
    height: 40px;
    padding-right: 5px !important;
    padding-left: 5px !important;
}

th {
    font-size: 14px !important;
    font-weight: 400 !important;
    .sort-icon {
        padding-top: 5px;
        padding-left: 5px;
        font-size: 12px;
    }

    // While the upward arrow is selected.
    .mat-sort-header-ascending .mat-sort-header-arrow svg {
        width: 21px;
        margin-left: -18px !important;
        transition: margin-left 0ms !important;
    }
    // While the downward arrow is selected.
    .mat-sort-header-descending .mat-sort-header-arrow svg {
        width: 21px;
        margin-left: -4px !important;
        transition: margin-left 0ms !important;
    }
    // Mouse hover & unhover
    &:hover .mat-sort-header-container .mat-sort-header-arrow svg,
    &:not(:hover) .mat-sort-header-container .mat-sort-header-arrow svg {
        width: 21px;
        transition: width 0ms !important;
        margin-left: -20px;
    }
    // Downward arrow moves out of view...
    &:hover .mat-sort-header-recently-cleared-descending .mat-sort-header-arrow svg {
        transition: width 0ms !important;
        margin-left: -4px;
    }
}
th .mat-sort-header-sorted {
    border-radius: 0.375rem;
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 3px;
}

.select {
    max-width: 120px;
    padding-right: 0px !important;
}

.set-button {
    width: 40px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.date {
    .date-wrapper {
        display: flex;
        justify-content: flex-start;
        gap: 5px;
        align-items: center;
        width: 106%;
        padding-right: 20px !important;
    }
    width: 300px !important;
    .date-part {
        padding-right: -5px !important;
    }
    .time-part {
        font-size: 12px !important;
    }
}

// DO NOT OVERFLOW TOO LONG VALUES ADJUSTMENTS
.ellipsis {
    span {
        vertical-align: middle !important;
        white-space: nowrap; /* One row */
        overflow: hidden;
        text-overflow: ellipsis; /* Put 3 dots */
        display: inline-block; /* or inline-block */
        //min-width: 40px;
        max-width: 160px;
    }
}

/////////////////////////////////////////////////
////////////// TOOLTIP ADJUSTMENTS //////////////
/////////////////////////////////////////////////
:root {
    @include mat.tooltip-overrides(
        (
            supporting-text-size: 12px
        )
    );
}

/////////////////////////////////////////////////
////////////////// PAGINATOR ////////////////////
/////////////////////////////////////////////////
.paginator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.375rem;

    .paginator-text {
        padding-left: 10px;
        font-size: 13px;
        font-weight: 400;
    }

    mat-paginator {
        border-radius: 0.375rem;
        font-size: 14px !important;
        font-weight: 400 !important;
        .mat-mdc-paginator-page-size-label {
            width: 100px;
        }
        .mat-mdc-paginator-page-size-select {
            width: 90px !important;
        }
    }
}

/////////////////////////////////////////////////
///////// ADDITIONAL TD-ROW ADJUSTMENTS /////////
/////////////////////////////////////////////////
.mat-mdc-row {
    position: relative; /* Animasyonun düzgün çalışması için */
}

.mat-mdc-row span {
    position: relative;
}

.mat-mdc-row td {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: none;
    position: relative;
    z-index: 1;
}

.mat-mdc-row td::before {
    content: "";
    width: 100%;
    height: calc(100% - 0.5rem);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.mat-mdc-row td:first-child::before {
    content: "";
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.mat-mdc-row td:last-child::before {
    content: "";
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}
