@use "form-light.scss";
@use "form-dark.scss";

.mat-mdc-dialog-title.dialog-form {
    font-size: 22px !important;
    font-weight: 400 !important;
}

mat-dialog-content.dialog-form {
    // FORM-CONTAINER ADJUSTMENTS
    .form-container {
        max-width: auto;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 18px;
        align-items: center;
    }

    // MAT-FORM-FIELD ADJUSTMENTS
    mat-form-field {
        width: 90%;
        font-size: 14px;
        mat-icon {
            padding-top: 5px !important;
            font-size: 21px;
            opacity: 0.8;
        }
        .mdc-text-field--outlined {
            opacity: 0.9;
            border-radius: 0.375rem;
        }
        .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused {
            .mdc-floating-label--float-above {
                font-size: 14px !important;
                opacity: 0.5 !important;
                padding-top: 18px;
            }
            input {
                padding-top: 8px;
            }
        }
        .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) {
            .mdc-floating-label--float-above {
                font-size: 14px;
                opacity: 0.5;
                padding-top: 18px;
            }
            input {
                padding-top: 8px;
            }
        }
        .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused.mdc-text-field--invalid {
            .mdc-floating-label--float-above {
                font-size: 14px !important;
                opacity: 0.5 !important;
                padding-top: 18px !important;
            }
            input {
                padding-top: 8px !important;
            }
        }
        .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused).mdc-text-field--invalid {
            border-radius: 0.375rem;
        }

        // mat-form-field - Border Color
        .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
        .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
        .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
            border-color: transparent !important;
            border-radius: 0.375rem;
        }

        // mat-form-field - Invalid Border & Floating-label Color
        .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--invalid .mdc-notched-outline__leading,
        .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--invalid .mdc-notched-outline__notch,
        .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--invalid
            .mdc-notched-outline__trailing {
            .mdc-floating-label {
                opacity: 0.9;
            }
        }
        // mat-form-field - Invalid Icon Color
        .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--invalid {
            mat-icon {
                opacity: 0.9;
            }
        }
        mat-error {
            margin-top: 2px;
            margin-left: -15px;
            font-size: 12px;
        }
    }
}
