<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
    <!-- Leaf node: Action -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        {{ node.definition }} <button mat-raised-button color="primary">click!</button>
    </mat-tree-node>

    <!-- Expandable node: Menu -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodeToggle>
        <button mat-icon-button matTreeNodeToggle>
            <mat-icon>
                {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
            </mat-icon>
        </button>
        {{ node.name }}
    </mat-tree-node>
</mat-tree>