[data-bs-theme="light"] {
    #toast-container .toast-success {
        background-color: var(--success-bg);
    }
    #toast-container .toast-info {
        background-color: var(--notify-bg);
    }
    #toast-container .toast-warning {
        background-color: var(--warning-bg-vivid);
    }
    #toast-container .toast-error {
        background-color: var(--error-bg);
    }
}
