.mat-mdc-dialog-title {
    padding-left: 80px;
    padding-top: 0px;
    padding-bottom: 15px;
    font-size: 28px;
    font-weight: 400;
    color: var(--dynamic-text);
    background-color: var(--dynamic-bg);
    box-shadow: var(--shadow-full-specs-softer);
}

.product-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.app-file-upload {
    grid-column: 1 / -1;
    margin-bottom: 30px;
}

.dialog-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 2%;
    justify-items: center;
    overflow-y: auto;
    padding: 80px;
}

.product-image-card {
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 8px 12px var(--shadow);
    &:hover {
        box-shadow: 0 8px 12px var(--shadow-hover);
    }
    button {
        height: 90%;
        width: 20%;
        mat-icon {
            padding-top: 8%;
            font-size: large;
        }
    }
}

:host ::ng-deep {
    html.dark & {
        .product-image-card {
            box-shadow: 0 1px 4px var(--shadow) !important;
            &:hover {
                box-shadow: 0 1px 4px var(--shadow-hover) !important;
            }
        }
    }
}

mat-card-actions {
    display: grid;
    justify-items: end;
}

@media (max-width: 600px) {
    .dialog-content {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        padding: 20px;
    }
    .product-image-card {
        button {
            height: 80%;
            width: 30%;
            mat-icon {
                padding-top: 10%;
                font-size: large;
            }
        }
    }
}

// mat-dialog-actions soft shadow from under to top
mat-dialog-actions {
    box-shadow: var(--shadow-full-specs-toTop);
}
