@use "assign-role-user-light.scss";
@use "assign-role-user-dark.scss";

.mat-mdc-dialog-title.dialog-assign-role-user {
    padding-left: 30px !important;
    font-size: 23px !important;
    font-weight: 400 !important;
}

mat-dialog-content.dialog-assign-role-user {
    /////////////////////////////////////////////////
    ////// PAGE BASED TD-ROW WIDTH ADJUSTMENTS //////
    /////////////////////////////////////////////////
    .role {
        width: 150px;
    }

    .is-admin {
        width: 150px;
        span {
            mat-icon {
                font-size: 20px;
                vertical-align: middle;
            }
        }
    }

    //////////////////////////////////////////////////////////////////
    /////////////////// General Table Adjustments ////////////////////
    //////////////////////////////////////////////////////////////////
    .table-container.assign-role-user-table {
        height: auto;
        padding-bottom: 0;
        .role-table {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 8px !important;
            thead {
                .mat-mdc-header-row {
                    th {
                        border: none !important;
                    }
                }
            }
            th.role,
            td.role {
                padding-left: 30px !important;
            }
            th.selection,
            td.selection {
                text-align: center;
                width: 150px;
            }
        }
    }

    //////////////////////////////////////////////////////////////////
    ///////////////////////// Dialog Scroll //////////////////////////
    //////////////////////////////////////////////////////////////////
    overflow-y: scroll;
    padding-right: 12px;
    position: relative;
    margin-bottom: 10px !important;

    // Chrome/Opera/WebKit scroll gizleme (başta)
    &::-webkit-scrollbar {
        width: 6px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 10px;
        transition: background-color 0.5s;
    }

    // Firefox için
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &:hover {
        scrollbar-color: rgba(150, 150, 150, 0.6) transparent;
        transition: scrollbar-color 0.5s;
    }

    // Firefox için özel scroll bar ayarı
    @-moz-document url-prefix() {
        .content-wrapper {
            scrollbar-width: auto !important; // thin yerine daha belirgin
            scrollbar-color: rgba(150, 150, 150, 0.6) transparent;

            &:hover {
                scrollbar-color: rgba(100, 100, 100, 0.6) transparent;
            }
        }
    }
}

mat-dialog-actions.dialog-assign-role-user {
    padding-right: 30px !important;
    .mat-mdc-button-disabled {
        opacity: 0.7;
    }
}
