<section class="table-container product-table mat-elevation-z4" tabindex="0">
  <!-- Table Header -->
  <div class="table-header">
    <!-- Filter Input -->
    <div class="filter-field">
      <mat-form-field>
        <mat-label>Filter in Page</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="value"
          (keyup)="applyFilter($event)"
          placeholder="Ex. Huawei"
          #input
        />
        <button
          *ngIf="value"
          matSuffix
          mat-icon-button
          (click)="clearFilter(input)"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!-- Add Item Button -->
    <button
      mat-mini-fab
      class="add-item"
      color="primary"
      matTooltip="Add Product"
      matTooltipPosition="above"
      (click)="createProduct()"
    >
      <mat-icon>library_add</mat-icon>
    </button>
    <!-- Scan QR Code Button -->
    <button
      mat-mini-fab
      class="scan-qrcode"
      color="tertiary"
      matTooltip="Scan QR Code"
      matTooltipPosition="above"
      (click)="scanQrCode()"
    >
      <mat-icon>qr_code_scanner</mat-icon>
    </button>
    <!-- Delete Selected Items Button -->
    <button
      mat-mini-fab
      class="delete-multiple-item"
      color="error"
      matTooltip="Delete Selected Products"
      matTooltipPosition="above"
      (click)="deleteSelectedProducts()"
      *ngIf="
        selection.selected.length != 0 &&
        hasPermission(
          authorizeDefinitionConstants.Products,
          endpointCodeConstants.DeleteRangeofProduct
        )
      "
    >
      <mat-icon>playlist_remove</mat-icon>
    </button>
    <button
      mat-mini-fab
      class="delete-multiple-item"
      color="dismiss"
      disabled
      *ngIf="
        selection.selected.length == 0 &&
        hasPermission(
          authorizeDefinitionConstants.Products,
          endpointCodeConstants.DeleteRangeofProduct
        )
      "
    >
      <mat-icon>playlist_remove</mat-icon>
    </button>
  </div>

  <!-- Scrollable Table Row Section -->
  <div class="table-scroll-wrapper">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="select">
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="select">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Index Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>
          <!-- <span *ngIf="selection.selected.length != 0">({{selection.selected.length}})</span> -->
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          class="start-column"
        >
          <span>{{ paginator.pageIndex * paginator.pageSize + i + 1 }}</span>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Name
          <mat-icon class="sort-icon">filter_alt</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element" class="name">
          <span>{{ element.name }}</span>
        </td>
      </ng-container>

      <!-- Title Column -->
      <!-- <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Title
                    <mat-icon class="sort-icon">filter_alt</mat-icon>
                </th>
                <td mat-cell *matCellDef="let element" class="title">
                    <span>{{element.title}}</span>
                </td>
            </ng-container> -->

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Description
          <mat-icon class="sort-icon">filter_alt</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element" class="description ellipsis">
          <span
            matTooltip="{{ element.description }}"
            matTooltipPosition="left"
            >{{ element.description }}</span
          >
        </td>
      </ng-container>

      <!-- Stock Column -->
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Stock
          <mat-icon class="sort-icon">filter_alt</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element" class="stock">
          <span>{{ element.stock }}</span>
        </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Price
          <mat-icon class="sort-icon">filter_alt</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element" class="price">
          <span>
            <span class="currency-part">$ </span>
            {{ element.price }}
          </span>
        </td>
      </ng-container>

      <!-- Rating Column -->
      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Rating
          <mat-icon class="sort-icon">filter_alt</mat-icon>
        </th>
        <td
          mat-cell
          matTooltip="{{ element.rating.rating }}"
          matTooltipPosition="left"
          *matCellDef="let element"
          class="rating"
        >
          <span *ngFor="let star of element.rating.stars">
            <mat-icon>{{ star }}</mat-icon>
          </span>
        </td>
      </ng-container>

      <!-- Date-Created Column -->
      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Date Created
          <mat-icon class="sort-icon">filter_alt</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element" class="date">
          <div class="date-wrapper">
            <span class="date-part">{{
              element.dateCreated.formattedDate
            }}</span>
            <span class="time-part">{{
              element.dateCreated.formattedTime
            }}</span>
          </div>
        </td>
      </ng-container>

      <!-- Date-Updated Column -->
      <ng-container matColumnDef="dateUpdated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Date Updated
          <mat-icon class="sort-icon">filter_alt</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element" class="date">
          <div class="date-wrapper">
            <span class="date-part">{{
              element.dateUpdated.formattedDate
            }}</span>
            <span class="time-part">{{
              element.dateUpdated.formattedTime
            }}</span>
          </div>
        </td>
      </ng-container>

      <!-- Show Images Button Column -->
      <ng-container matColumnDef="images">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="set-button">
          <button
            mat-mini-fab
            class="no-elevation small"
            color="message"
            (click)="editProductImages(element.id)"
          >
            <mat-icon
              matTooltip="Show Product Images"
              matTooltipPosition="above"
              >photo_library</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <!-- QR Code Button Column -->
      <ng-container matColumnDef="qrcode">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="set-button">
          <button
            mat-mini-fab
            class="no-elevation small"
            color="notify"
            (click)="getQrCode(element.id)"
          >
            <mat-icon matTooltip="Get QR Code" matTooltipPosition="above"
              >qr_code</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <!-- Edit Button Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="set-button">
          <button
            mat-mini-fab
            class="no-elevation small"
            color="warning"
            (click)="updateProduct(element.id)"
          >
            <mat-icon matTooltip="Edit Product" matTooltipPosition="above"
              >edit</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <!-- Delete Button Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td
          mat-cell
          *matCellDef="let element"
          [id]="element.id"
          class="set-button end-column"
        >
          <button
            *ngIf="
              hasPermission(
                authorizeDefinitionConstants.Products,
                endpointCodeConstants.DeleteProduct
              )
            "
            mat-mini-fab
            class="no-elevation small"
            color="error"
            appDelete
            controller="products"
            (callback)="initializeComponent()"
          >
            <mat-icon matTooltip="Delete Product" matTooltipPosition="above"
              >delete</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [attr.data-id]="row.id"
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>

  <!-- Paginator -->
  <div class="paginator">
    <span class="paginator-text">
      <span *ngIf="selection.selected.length != 0"
        >{{ selection.selected.length }} selected -</span
      >
      {{ totalItemCount }} item found
    </span>
    <mat-paginator
      (page)="pageChanged()"
      [pageSizeOptions]="[10, 20, 100, 500]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</section>
