<div class="widget order-customer">
    <div class="widget-header">
        <span class="widget-title">Customer Details</span>
    </div>

    <div class="widget-content">
        <ul>
            <li>
                <div class="inline-box">
                    <img src="default-product-image.png">
                    <ul>
                        <li>Joseph Parkers</li>
                        <li style="opacity: 0.7;">Customer</li>
                    </ul>
                </div>
            </li>
            <li class="icon-text">
                <mat-icon>email</mat-icon>
                josephparker-gmail.com
            </li>
            <li class="icon-text">
                <mat-icon>call</mat-icon>
                +(256) 245 45 14
            </li>
        </ul>
    </div>
</div>