@use "@angular/material" as mat;
@include mat.core();

html.dark {
    // Toolbar background color
    .mat-toolbar {
        background-color: var(--dark-background);
    }

    // Collapsed toolbar all items text-icon colors
    .mat-mdc-menu-item {
        .mat-icon {
            color: var(--light-text);
        }
        span {
            color: var(--light-text);
        }
    }

    // Collapsed toolbar active item background colors
    .mat-mdc-menu-item.active {
        background-color: var(--mat-sys-on-tertiary-fixed-variant-opaque);
    }
}
