@use "bs-toolbar-light.scss";
@use "bs-toolbar-dark.scss";

.navbar {
    height: 55px !important;
}

.navbar .btn {
    font-size: 14px !important;
    &.theme-toggle-button {
        font-size: 18px !important;
    }
}
