@use "./admin/buttons/dark-material-buttons.scss";
@use "./admin/toolbar/dark-toolbar.scss" as admin-dark-toolbar;
@use "./admin/sidenav/dark-sidenav.scss";

@use "./layout/toolbar/dark-toolbar.scss" as layout-dark-toolbar;
@use "./layout/buttons/dark-bs-buttons.scss";

html.dark {
    // Primary Color
    --primary-text: rgb(170, 199, 255);
    --primary-text-dark: rgb(136, 159, 204);
    --primary-text-lighter: rgb(170, 199, 255, 0.7);

    // Primary Background Color
    // Light-BG
    --primary-bg-lighter: rgb(162, 183, 219);
    // Dark-BG
    --primary-bg-lighter-lighter: rgb(66, 110, 185);
    --primary-bg-lighter-transparent: rgb(49, 78, 128);
    --primary-bg-lighter: rgb(43, 74, 126);
    --primary-bg: rgb(37, 63, 107);
    --primary-bg-dark: rgb(32, 54, 94);
    --primary-bg-transparent: rgb(37, 63, 107, 0.8);
    --primary-bg-more-transparent: rgb(37, 63, 107, 0.6);

    // Light Text - Dark Background
    --light-text: rgb(230, 238, 255);
    --light-darker-text: rgb(215, 221, 233);
    --light-text-transparent: rgb(230, 238, 255, 0.8);
    --light-text-more-transparent: rgb(230, 238, 255, 0.6);
    --white-text: rgb(255, 255, 255);

    // Light Background Colors
    --light-background: rgb(249 249 255);
    --gray-background: rgb(224 226 236);

    // Dark Text - Light Background
    --dark-text: rgb(39, 41, 46);
    --dark-text-lighter: rgb(60, 63, 70);
    --dark-text-transparent: rgb(39, 41, 46, 0.9);
    --black-text: rgb(0, 0, 0);

    // Dark Background Colors
    --dark-background: rgb(24, 28, 36);
    --dark-background-blueish-darker: rgb(22, 26, 34);
    --dark-background-darker: rgb(21, 24, 29);
    --dark-background-darkest: rgb(19, 21, 27);
    --dark-background-bs-collapsed-toolbar: rgb(26, 32, 43, 0.8);

    // Yellow Colour Scale
    --yellow-1: rgba(252, 255, 66, 0.8);
    --yellow-1-darker: rgba(200, 202, 52, 0.8);
    --yellow-1-pale: rgba(253, 255, 134, 0.6);

    // Teal Colour Scale
    --teal-lighter-pale-transparent: rgb(73, 173, 173, 0.4);
    --teal-lighter-pale: rgb(73, 173, 173);
    --teal-lighter: rgb(0, 170, 170);
    --teal: rgb(0, 128, 128);
    --teal-darker: rgb(0, 94, 94);
    --teal-darker-pale: rgb(33, 92, 92);
    --teal-pale: rgb(58, 134, 134);

    // Theme Main Tertiary(third) Color
    --tertiary: rgb(51, 34, 54);
    --tertiary-pale: rgb(67, 44, 71);
    --tertiary-transparent: rgba(87, 62, 92, 0.7);
    --tertiary-transparent-more: rgba(87, 62, 92, 0.5);
    --tertiary-light: rgb(209, 187, 218);
    --tertiary-lighter: rgb(206, 182, 214);
    --tertiary-dark: rgb(48, 30, 53);
    --tertiary-dark-bs-collapsed-toolbar: rgba(56, 34, 63, 0.8);

    // Message
    --message-bg: rgb(198, 198, 198);
    --message-bg-hover: rgb(198, 198, 198, 0.8);
    --message-bg-lighter: rgb(198, 198, 198);
    --message-bg-hover-lighter: rgb(198, 198, 198, 0.8);
    --message-bg-white: var(--light-background);
    --message-bg-white-darker: rgb(210, 210, 216);

    // Notify
    --notify-bg: rgb(68, 104, 184);
    --notify-bg-darker: rgb(54, 84, 148);
    --notify-bg-hover: rgb(170, 199, 255, 0.8);
    --notify-bg-lighter: rgb(173, 196, 240, 0.7);
    --notify-bg-hover-lighter: rgb(170, 199, 255, 0.5);

    // Success
    --success-bg: rgb(54, 145, 84);
    --success-bg-darker: rgb(46, 124, 72);
    --success-bg-hover: rgba(54, 145, 84, 0.8);
    --success-bg-lighter: rgb(54, 145, 84, 0.7);
    --success-bg-hover-lighter: rgba(54, 145, 84, 0.5);

    // Warning
    --warning-bg-vivid: rgb(230, 116, 11);
    --warning-bg: rgb(196, 96, 53);
    --warning-bg-darker: rgb(153, 76, 43);
    --warning-bg-hover: rgb(196, 96, 53, 0.8);
    --warning-bg-lighter: rgb(196, 96, 53, 0.7);
    --warning-bg-hover-lighter: rgb(196, 96, 53, 0.5);

    // Error
    --error-bg: rgb(160, 19, 19);
    --error-bg-white-lighter: rgb(160, 48, 48);
    --error-bg-darker: rgb(141, 17, 17);
    --error-bg-hover: rgb(160, 19, 19, 0.8);
    --error-bg-lighter: rgb(160, 19, 19, 0.7);
    --error-bg-hover-lighter: rgb(160, 19, 19, 0.5);

    // Dismiss
    --dismiss-bg: rgb(136, 136, 136);
    --dismiss-bg-darker: rgb(119, 119, 119);
    --dismiss-bg-hover: rgb(136, 136, 136, 0.8);
    --dismiss-bg-lighter: rgb(136, 136, 136, 0.7);
    --dismiss-bg-hover-lighter: rgb(136, 136, 136, 0.5);
}
