@use "./admin/buttons/material-buttons-default.scss";
@use "./layout/bootstrap-general.scss";

html.dark {
    ///////////// Dynamic Colors /////////////
    // Background
    --login-bg-dynamic: rgba(0, 0, 0, 0.7);

    // Shadows
    --shadow-darker: rgba(255, 255, 255, 0.1);
    --shadow: rgba(255, 255, 255, 0.2);
    --shadow-hover: rgba(255, 255, 255, 0.6);
    --shadow-full-specs: 0 1px 4px var(--shadow);
    --shadow-full-specs-soft: 0 1px 2px var(--shadow);
    --shadow-full-specs-softer: 0 2px 4px var(--shadow-darker);
    --shadow-full-specs-toTop: 0 -2px 4px var(--shadow-darker);
    --shadow-mat-form-field-standard: inset 0 2px 3px rgba(180, 180, 180, 0.075), 0 0 6px 3px rgba(71, 137, 236, 0.6);
    --shadow-mat-form-field-error: inset 0 2px 3px rgba(180, 180, 180, 0.075), 0 0 6px 3px rgba(223, 81, 81, 0.6);

    // Primary Color
    --primary-text: rgb(170, 199, 255);
    --primary-text-dark: rgb(136, 159, 204);
    --primary-text-lighter: rgb(170, 199, 255, 0.7);

    // Primary Background Color
    // Light-BG
    --primary-bg-lighter: rgb(162, 183, 219);
    // Dark-BG
    --primary-bg-electric: rgb(69, 141, 209);
    --primary-bg-electric-alternative: rgb(160, 209, 255);
    --primary-bg-electric-2: rgb(41, 140, 231);
    --primary-bg-lighter-lighter: rgb(66, 110, 185);
    --primary-bg-lighter-lighter-2: rgb(71, 118, 199);
    --primary-bg-lighter-transparent: rgb(49, 78, 128);
    --primary-bg-lighter: rgb(43, 74, 126);
    // --primary-bg: rgb(37, 63, 107);
    --primary-bg: rgb(33, 78, 155);
    --primary-bg-alternative: rgb(95, 124, 173);
    --primary-bg-dark: rgb(29, 69, 138);
    // --primary-bg-dark: rgb(32, 54, 94);
    --primary-bg-darker: rgb(22, 62, 131);
    // --primary-bg-darker: rgb(25, 42, 75);
    --primary-bg-transparent: rgb(37, 63, 107, 0.8);
    --primary-bg-more-transparent: rgb(37, 63, 107, 0.6);

    // Dynamic Text Color
    --dynamic-text: var(--light-text);
    --dynamic-text-transparent: var(--light-darker-text);
    // Dynamic Background Color
    --dynamic-bg: var(--dark-background-blueish-darker);
    --dynamic-bg-hover: var(--dark-background);

    // Light Text - Dark Background
    --light-text: rgb(230, 238, 255);
    --light-darker-text: rgb(215, 221, 233);
    --light-darkerer-text: rgb(184, 189, 201);
    --light-text-transparent: rgb(230, 238, 255, 0.8);
    --light-text-more-transparent: rgb(230, 238, 255, 0.6);
    --white-text: rgb(255, 255, 255);
    --light-text-graish: rgb(218, 218, 218);

    // Light Background Colors
    --light-background: rgb(249 249 255);
    --light-background-darker: rgb(230, 230, 230);
    --light-gray-mid-background: rgb(204, 206, 212);
    --gray-background: rgb(173, 175, 183);
    --gray-background-transparent: rgb(224, 226, 236, 0.2);
    --gray-background-transparent-2: rgba(240, 242, 250, 0.082);
    --gray-background-2: rgb(117, 117, 117);
    --gray-background-3: rgb(158, 158, 158);
    --gray-background-3-transparent: rgba(255, 255, 255, 0.8);
    --light-background-bs-navbar: rgb(230, 217, 233);
    --light-background-bs-navbar-collapsed: rgb(205, 189, 209);
    --light-background-2: rgb(231, 231, 231);
    --light-background-transparent: rgba(241, 241, 241, 0.8);
    --light-background-3: rgb(255, 255, 255);
    --light-background-3-transparent: rgb(255, 255, 255, 0.5);

    // Dark Text - Light Background
    --dark-text: rgb(39, 41, 46);
    --dark-text-lighter: rgb(60, 63, 70);
    --dark-text-lighter-2: rgb(88, 93, 102);
    --dark-text-lighter-2-transparent: rgb(88, 93, 102, 0.5);
    --dark-text-transparent: rgb(39, 41, 46, 0.9);
    --black-text: rgb(0, 0, 0);

    // Dark Background Colors
    --dark-background: rgb(24, 28, 36);
    --dark-background-lighter: rgb(37, 41, 51);
    --dark-background-lighter-2: rgb(45, 50, 63);
    --dark-background-blueish-darker: rgb(22, 26, 34);
    --dark-background-darker: rgb(21, 24, 29);
    --dark-background-darker-lighter: rgb(29, 33, 41);
    --dark-background-darkest: rgb(19, 21, 27);
    --dark-background-bs-collapsed-toolbar: rgb(13, 15, 20);

    // Yellow Colour Scale
    --yellow: rgb(221, 236, 0);
    --yellow-dark: rgb(205, 219, 0);
    --yellow-1: rgba(252, 255, 66, 0.8);
    --yellow-1-darker: rgba(200, 202, 52, 0.8);
    --yellow-1-pale: rgba(253, 255, 134, 0.6);

    // Teal Colour Scale
    --teal-lighter-pale-transparent: rgb(73, 173, 173, 0.4);
    --teal-lighter-pale: rgb(73, 173, 173);
    --teal-lighter: rgb(0, 170, 170);
    --teal: rgb(0, 128, 128);
    --teal-darker: rgb(0, 94, 94);
    --teal-darker-pale: rgb(33, 92, 92);
    --teal-pale: rgb(58, 134, 134);

    // Theme Main Tertiary(third) Color
    --tertiary: rgb(105, 72, 112);
    --tertiary-darker: rgb(96, 65, 102);
    --tertiary-pale: rgb(67, 44, 71);
    --tertiary-transparent: rgba(87, 62, 92, 0.7);
    --tertiary-transparent-more: rgba(87, 62, 92, 0.5);
    --tertiary-light: rgb(209, 187, 218);
    --tertiary-lighter: rgb(206, 182, 214);
    --tertiary-dark: rgb(48, 30, 53);
    --tertiary-dark-bs-collapsed-toolbar: rgba(56, 34, 63, 0.8);

    // Message
    --message-bg: rgb(198, 198, 198);
    --message-bg-hover: rgb(198, 198, 198, 0.8);
    --message-bg-lighter: rgb(198, 198, 198);
    --message-bg-hover-lighter: rgb(198, 198, 198, 0.8);
    --message-bg-white: var(--light-background);
    --message-bg-white-darker: rgb(210, 210, 216);

    // Notify
    --notify-bg: rgb(194, 206, 245);
    --notify-bg-darker: rgb(186, 197, 235);
    --notify-bg-hover: rgb(170, 199, 255, 0.8);
    --notify-bg-lighter: rgb(173, 196, 240, 0.7);
    --notify-bg-hover-lighter: rgb(170, 199, 255, 0.5);

    // Success
    --success-bg: rgb(10, 126, 78);
    --success-bg-darker: rgb(9, 110, 68);
    --success-bg-hover: rgba(54, 145, 84, 0.8);
    --success-bg-lighter: rgb(54, 145, 84, 0.7);
    --success-bg-hover-lighter: rgba(54, 145, 84, 0.5);

    // Warning
    --warning-bg-vivid: rgb(230, 116, 11);
    --warning-bg: rgb(218, 179, 9);
    --warning-bg-darker: rgb(209, 173, 10);
    --warning-bg-darkest: rgb(197, 163, 8);
    --warning-bg-hover: rgb(196, 96, 53, 0.8);
    --warning-bg-lighter: rgb(196, 96, 53, 0.7);
    --warning-bg-hover-lighter: rgb(196, 96, 53, 0.5);

    // Error
    --error-bg-both-theme: rgb(182, 54, 54);
    --error-bg-white-lighter: rgb(160, 48, 48);
    --error-bg: rgb(172, 27, 58);
    --error-bg-transparent: rgb(172, 27, 58, 0.9);
    --error-bg-darker: rgb(167, 26, 57);
    --error-bg-hover: rgb(160, 19, 19, 0.8);
    --error-bg-lighter: rgb(160, 19, 19, 0.7);
    --error-bg-hover-lighter: rgb(160, 19, 19, 0.5);

    // Error - Soft - different than dark-color-scheme
    --error-soft-bg: rgb(146, 0, 0, 0.8);
    --error-soft-bg-hover: rgb(146, 0, 0);

    // Dismiss
    --dismiss-bg: rgb(136, 136, 136);
    --dismiss-bg-darker: rgb(119, 119, 119);
    --dismiss-bg-hover: rgb(136, 136, 136, 0.8);
    --dismiss-bg-lighter: rgb(136, 136, 136, 0.7);
    --dismiss-bg-hover-lighter: rgb(136, 136, 136, 0.5);

    // Badge Background Colors
    // Unknown
    --unknown-bg: rgb(150, 150, 150, 0.5);
    // Pending
    --pending-bg: rgba(223, 214, 92, 0.2);
    // Approved
    --approved-bg: rgba(83, 114, 214, 0.2);
    // Shipping
    --shipping-bg: rgba(113, 228, 228, 0.2);
    // Delivered
    --delivered-bg: rgba(113, 228, 132, 0.2);
    // Cancelled
    --cancelled-bg: rgba(240, 69, 69, 0.2);

    // Badge Text Colors
    // Unknown
    --unknown-text: rgb(185, 185, 185);
    // Pending
    --pending-text: rgb(211, 198, 142);
    // Approved
    --approved-text: rgb(137, 172, 231);
    // Shipping
    --shipping-text: rgb(125, 197, 197);
    // Delivered
    --delivered-text: rgb(120, 212, 124);
    // Cancelled
    --cancelled-text: rgb(228, 155, 155);
}
