html {
    //////////////////////////////////////////////////////////////////
    ////////////////// Card Area Color Adjustments ///////////////////
    //////////////////////////////////////////////////////////////////
    .image-card {
        box-shadow: 0 0 8px 4px var(--shadow);
        &:hover {
            box-shadow: 0 0 10px 1px var(--shadow-hover);
        }
    }
    ////////////////////
    ////////////////////

    //////////////////////////////////////////////////////////////////
    ////////////////// Card Area Color Adjustments ///////////////////
    //////////////////////////////////////////////////////////////////
    .right {
        &:hover {
            color: var(--error-soft-bg);
            background-color: rgba(255, 255, 255, 0.5);
        }
        .mat-ripple {
            display: none !important;
        }
    }
    ////////////////////
    ////////////////////
}
