html.dark {
    //////////////////////////////////////////////////////////////////
    ////////////////// Card Area Color Adjustments ///////////////////
    //////////////////////////////////////////////////////////////////
    .image-card {
        box-shadow: 0 0 6px 0 var(--shadow);
        &:hover {
            box-shadow: 0 0 6px 0 var(--shadow-hover);
        }
    }
    ////////////////////
    ////////////////////

    //////////////////////////////////////////////////////////////////
    ////////////////// Card Area Color Adjustments ///////////////////
    //////////////////////////////////////////////////////////////////
    .right {
        &:hover {
            color: var(--error-soft-bg);
            background-color: rgba(0, 0, 0, 0.35);
        }
        .mat-ripple {
            display: none !important;
        }
    }
    ////////////////////
    ////////////////////
}
