<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened class="sidenavProduct">
        <app-create (createdProduct)="createdProduct($event)"></app-create>
    </mat-drawer>
    <mat-drawer-content>
        <app-list></app-list>
    </mat-drawer-content>
</mat-drawer-container>

<div class="row">
    <div style="margin: 20px 30px;">
        <h4>Basic</h4>
        <button mat-button>Default</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="message">Message</button>
        <button mat-button color="notify">Notify</button>
        <button mat-button color="success">Success</button>
        <button mat-button color="warning">Warning</button>
        <button mat-button color="error">Error</button>
        <button mat-button color="dismiss">Dismiss</button>
        <button mat-button color="tertiary">Tertiary</button>
        <br>
        <h4>Raised</h4>
        <button mat-raised-button>Default</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="message">Message</button>
        <button mat-raised-button color="notify">Notify</button>
        <button mat-raised-button color="success">Success</button>
        <button mat-raised-button color="warning">Warning</button>
        <button mat-raised-button color="error">Error</button>
        <button mat-raised-button color="dismiss">Dismiss</button>
        <button mat-raised-button color="tertiary">Tertiary</button>
        <br>
        <h4>Stroked</h4>
        <button mat-stroked-button>Default</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="message">Message</button>
        <button mat-stroked-button color="notify">Notify</button>
        <button mat-stroked-button color="success">Success</button>
        <button mat-stroked-button color="warning">Warning</button>
        <button mat-stroked-button color="error">Error</button>
        <button mat-stroked-button color="dismiss">Dismiss</button>
        <button mat-stroked-button color="tertiary">Tertiary</button>
        <br>
        <h4>Flat</h4>
        <button mat-flat-button>Default</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="message">Message</button>
        <button mat-flat-button color="notify">Notify</button>
        <button mat-flat-button color="success">Success</button>
        <button mat-flat-button color="warning">Warning</button>
        <button mat-flat-button color="error">Error</button>
        <button mat-flat-button color="dismiss">Dismiss</button>
        <button mat-flat-button color="tertiary">Tertiary</button>
    </div>
</div>