.gradient-custom-2 {
    /* fallback for old browsers */
    background: #176baf;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #347ce2, #2c5caa, #2a4fae, #305396);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #3070ca, #315baa, #264a8b, #1a3885);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }
}

.back-home {
    padding: 5px 20px;
    margin-bottom: -20px;
    border: none;
    opacity: 0.6;
    font-size: large;
    .bi {
        font-size: large;
        margin-right: 10px;
        opacity: 0.9;
    }
    @media (max-width: 1200px) {
        margin-bottom: 20px;
    }
}

.left-side {
    border-radius: 5px;

    .bottom {
        @media (max-width: 992px) {
            width: 90%;
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .logo-icon-bs {
        @media (min-width: 1200px) {
            margin-top: -80px;
            width: 200px !important;
            padding-right: 30px;
        }
        @media (min-width: 992px) {
            margin-top: -80px;
            width: 180px;
            padding-right: 30px;
        }
        @media (max-width: 992px) {
            height: 90px;
            width: 180px;
        }
        @media (max-width: 768px) {
            margin-top: 0px;
        }
    }
}

.vertical-space {
    @media (max-width: 992px) {
        display: none;
    }
}

.login-section {
    background-image: url("../../../../../public/login-page/login-page-bg.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    @media (max-width: 1200px) {
        overflow: auto;
    }
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0 !important;
}

.card {
    border: none;
    opacity: 0.85;
    //margin: 5%;
    width: 100%;
    border-radius: 10px;
    background: var(--login-bg-dynamic);
    @media (max-width: 1200px) {
        margin-bottom: 20px;
    }
}

.name-input {
    @media (max-width: 768px) {
        margin-bottom: 9px;
    }
}

.title {
    @media (max-width: 768px) {
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
    }
}
.input-group {
    @media (max-width: 768px) {
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.invalid-feedback {
    white-space: pre-line;
}

:host ::ng-deep {
    html.dark & {
        $form-floating-label-disabled-color: var(--gray-600);
        .login-form {
            label,
            p {
                color: var(--light-text);
            }
            .form-floating input:focus ~ label {
                color: var(--light-text-more-transparent);
            }
        }

        .gradient-custom-2 {
            /* fallback for old browsers */
            background: #176baf;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, #347ce2, #2c5caa, #2a4fae, #305396);

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, #2a60ac, #1e3d75, #122d5f, #09245f);
        }
    }
}
